body {
  text-align: center;
}
.number-holder {
  font-size: 12vw;
  font-weight: bold;
}
.console {
  display: inline-flex;
  align-items: baseline;
}
input, button {
  text-align: center;
  border-radius: 5px;
  height: 5vw;
  font-size: 4vw;
  border-color: lightgrey;
}
input {
  width: 20vw;
}
button {
  border: none;
  border-radius: 3px;
  width: 5vw;
  background-color: lightgrey;
  color: #fff;
}
button:hover{
  background-color: #fff;
  color: lightgrey;
}
